.animation-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
  /* background-image: url('../assets/background.jpg');  */
  /* background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; */
}

.image-left, .image-right {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  opacity: 0;
  width: 20%; /* Adjust width as needed */
}

.image-left {
  left: -100%; /* Start off-screen on the left */
  animation: moveLeftRight 3s forwards; /* Animate once and stay at final position */
  z-index: 1;
}

.image-right {
  right: -100%; /* Start off-screen on the right */
  animation: moveRightLeft 3s forwards; /* Animate once and stay at final position */
}

.image {
  width: 100%; /* Ensure image takes up the container width */
  height: auto;
}

@keyframes moveLeftRight {
  0% {
    left: -100%; /* Off-screen left */
    opacity: 0;
  }
  50% {
    left: 50%; /* Cross the center */
    opacity: 1;
  }
  100% {
    left: 13%; /* Stay in the center */
    opacity: 1;
  }
}

@keyframes moveRightLeft {
  0% {
    right: -100%; /* Off-screen right */
    opacity: 0;
  }
  50% {
    right: 50%; /* Cross the center */
    opacity: 1;
  }
  100% {
    right: 50%; /* Stay in the center */
    opacity: 1;
  }
}
.text {
  position: absolute;
  top: 50%;
  left: 50%; /* Center horizontally */
  transform: translate(-5%, -50%); /* Center both vertically and horizontally */
  opacity: 0;
  font-size: 70px;
  color: #ec6c4c;
  text-shadow: 0 0 0px #ec6c4c; /* No glow initially */
  transition: opacity 2s ease-in-out, font-size 2s ease-in-out, text-shadow 2s ease-in-out;
}

.text-show {
  opacity: 1;
  font-size: 80px; /* Slightly bigger font when shown */
  text-shadow: 0 0 30px #ec6c4c, 0 0 60px #ff9770; /* Add a glowing effect */
}

.text-hide {
  opacity: 0;
  font-size: 60px; /* Slightly smaller font when hidden */
  text-shadow: 0 0 0px #ec6c4c; /* Remove glow when hiding */
}


@media (max-width: 571px) {
  .text{
    font-size: 5px;
  }
  .animation-container {
    height: 50vh;
    width: 100vw;
  }
}

@media (max-width: 768px) {
  .text{
    font-size: 20px;
  }
  .animation-container {
    height: 50vh;
    width: 100vw;
  }
}
@media (max-width: 992px) {
  .text{
    font-size: 30px;
  }
  .animation-container {
    height: 50vh;
    width: 100vw;
  }
}
@media (max-width: 572px) {
  .text{
    font-size: 20px;
    left: 55%;
  }
  .image-left, .image-right {
    width: 35%; /* Adjust width as needed */
  }
  .image-left {
    left: -100%; /* Start off-screen on the left */
    animation: moveLeftRight 3s forwards; /* Animate once and stay at final position */
    z-index: 1;
  }
  @keyframes moveLeftRight {
    0% {
      left: -100%; /* Off-screen left */
      opacity: 0;
    }
    50% {
      left: 50%; /* Cross the center */
      opacity: 1;
    }
 
    100% {
      left: -2%; /* Stay in the center */
      opacity: 1;
    }
  }
  .image-right {
    right: -100%; /* Start off-screen on the right */
    animation: moveRightLeft 3s forwards; /* Animate once and stay at final position */
  }
  @keyframes moveRightLeft {
    0% {
      right: -100%; /* Off-screen right */
      opacity: 0;
    }
    50% {
      right: 50%; /* Cross the center */
      opacity: 1;
    }
    100% {
      right: 40%; /* Stay in the center */
      opacity: 1;
    }
  }
  .animation-container {
    height: 50vh;
    width: 100vw;
  }
}